[user]
    name = Ka1kai
    email = hal.game.mail@gmail.com
[color]
    ui = auto
[core]
	excludesfile = /home/tkawashita/.gitignore
	editor = vim -c \"set fenc=utf-8\"

[alias]
    co = checkout
    br = branch
    st = status
    df = diff
    ds = diff --staged
